<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
    <link rel="icon" href="../img/core-img/favicon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script th:src="@{https://kit.fontawesome.com/0ec45a6e18.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.6.1.min.js}"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
   <link rel="stylesheet" href="/css/album.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<body ng-app="albumApp" ng-controller="albumCtrl">
    <div>
        <!-- HEADER Ở ĐÂY -->
        <!-- <div th:replace="~{/admin/headeradmin.html :: header}"></div> -->
        <h1 class="text-center align-middle">Album</h1>
        <div class="row " style="margin-top: 7rem;">
            
            <div class="col-md-1 m-1">
                <!-- Không cần để gì vào đây -->
            </div>
            <div class=" col-md-4 ">

                <form class="row g-3">
                    <div class="col-12">
                      <label for="inputEmail4" class="form-label ">Tilte</label>
                      <input ng-model="form.title" type="text" class="form-control" id="inputEmail4">
                      <div ng-show="errors" class="error-message text-bolder"> {{errors && errors.title}} </div>
                    </div>
                    <div class="col-12">
                      <label for="inputPassword4" class="form-label">Year</label>
                      <input ng-model="form.releaseYear" type="number" class="form-control" id="inputPassword4">
                      <div ng-show="errors" class="error-message text-bolder"> {{errors && errors.releaseYear}} </div>
                    </div>
                    
                    <div class="col-12">
                        <label for="inputCity" class="form-label">Image</label>
                        <input type="file" class="form-control" id="fileInput" ng-model="form.selectedFile" />
                        <div ng-show="errors" class="error-message text-bolder"> {{errors && errors.image}} </div>
                    </div>
                    <div class="col-12">
                      <label for="inputCity" class="form-label">Choose singer</label>
                      <select class="form-control mb-3" ng-model="selectedSinger" ng-options="s.id as s.name for s in singers" ng-change="chooseSinger(selectedSinger)">
                        <option value="">Choose Singer</option>
                    </select>
                    <div ng-show="errorsAlbum" class="error-message text-bolder"> {{errorsAlbum}} </div>
                    
                     <table class="table mt-2">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, s) in singersAlbum">
                                <input type="hidden" ng-model="singersAlbumID" name="" id="">
                                <td >{{$index + 1}}</td>
                                <td>{{s.name}}</td>
                                
                               
                                <td>
                                    <button ng-click="removeSingerAlbum(s.id)"  class="btn btn-warning">Remove</button>
                                </td>
                            </tr>
    
                        </tbody>
                     </table>
                    </div>
                    <div class="col-12 mt-2">
                      <button ng-click="create()" type="submit" class="btn btn-success m-1">Create</button>
                      <button ng-click="update()" type="submit" class="btn btn-dark m-1">Update</button>
                      <button ng-click="delete(form.id)" type="submit" class="btn btn-danger m-1">Delete</button>
                      <button ng-click="reset()" type="submit" class="btn btn-warning m-1">Reset</button>
                    </div>
                    <div class="text-center">
                     <img  ng-model="fileImg" ng-src="{{form.imagePath}}" width="250px" height="275px">
                    </div>
                  </form>
                
            </div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Image</th>
                            <th scope="col">Tilte</th>
                            <th scope="col">ReleaseYear</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, a) in items">
                            <td >{{$index + 1}}</td>
                            <td><img ng-src="/asset/img/album/{{a.image}}" alt="" width="50px" height="75px"></td>
                            <td>{{a.title}}</td>
                            <td>{{a.releaseYear}}</td>
                            
                           
                            <td>
                                <button ng-click="edit(a.id)"  class="btn btn-warning">Edit</button>
                                <button ng-click="delete(a.id)"  class="btn btn-danger">Del</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>



    </div>
    <div th:replace="~{/admin/menusideadmin.html :: menu-side}"></div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/angular/album.js"></script>
</body>

</html>