<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">
    <!-- icon from font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- icon from font-awesome -->
    <!-- FONT -->
    <!-- POPPINS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Marcellus&family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@400;700&display=swap"
        rel="stylesheet" />
    <!-- PROMP -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Marcellus&family=Montserrat:wght@400;500;700&family=Prompt:wght@400;700&display=swap"
        rel="stylesheet" />
    <!-- FONT -->
    <link rel="stylesheet" href="/css/swiper.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Forgot Password</title>
    <style>
        body {
            background: linear-gradient(90deg, #0e1117, #0e1117, #181e29);
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="logo-login">
            <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
        </div>
        <div class="login-title">Forgot Password</div>
        <div class="login-form">
            <div class="login-form-inner">
                <h3 class="mb-4 text-center">[[${mess}]]</h3>
                <form action="/forgotPassword" method="post" class="signin-form">
                    <div class="form-item">
                        <div class="login-form-inner-title">
                            Enter your email
                        </div>
                        <input type="text" name="email" th:value="${email}" class="form-control" placeholder="Email">
                    </div>
                    <button id="login-btn" class="login-button" type="submit"
                        th:formaction="@{/forgotPassword/process}">
                        Continue
                    </button>
                    <button class="signup-button">
                        <a class="" th:href="@{/auth/login/form}">
                            Login</a>
                    </button>
                </form>
            </div>
        </div>
        <div class="login-footer">
            <div class="login-footer-first">

                © 2023 One Sound
            </div>
            <div class="login-footer-second">
                <a href="">Privacy Notice</a>
                <a href=""> Terms and Conditions</a>
                <a href=""> Cookie Settings</a>
                <a href="">Accessibility Statement</a>
                <a href=""> Contact</a>
            </div>
        </div>
    </div>
</body>
<!-- <script src="js/login.js"></script> -->

</html>