<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Player</title>
    <link rel="stylesheet" href="/css/styleplayer.css" />

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico" />
    <!-- icon from font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- icon from font-awesome -->
    <!-- FONT -->
    <!-- POPPINS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Marcellus&family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- PROMP -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Marcellus&family=Montserrat:wght@400;500;700&family=Prompt:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- FONT -->
    <!--CND Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="https://unpkg.com/howler@2.2.3/dist/howler.min.js"></script>
  </head>

  <body id="myDiv" ng-app="detailplaylistapp" ng-controller="detailplaylistctrl">
    <header>
      <div th:replace="~{/layout/menuside.html :: menu-side}"></div>

      <div class="song-side">
        <div class="song-side-header">
          <div class="song-side-header-navigation">
            <i class="fa-solid fa-circle-chevron-left"></i>
            <i class="fa-solid fa-circle-chevron-right"></i>
          </div>
          <div class="song-side-header-noti">
            <div class="search">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Search" />
            </div>
            <div class="notification">
              <i class="fa-regular fa-bell"></i>
            </div>
          </div>
        </div>


        <div class="list-tracks">
          <div class="list-tracks-form-search">
            <input
              type="search"
              name="search-music"
              id="filter_song"
              placeholder="Filter playlist on title, artist or genre"
              class="search"
              ng-model="searchKeyword"
              ng-change="filterSongs()"
            />

            <div class="icon-search">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>NAME SONG</th>
                <th>ARTISTS</th>
                <th>GENRES</th>
                <th>TIME</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="list-songs-detail">
              <tr
                ng-repeat="songfull in filteredSongs"
                id="{{songfull.song.id}}"
                class="song-row"
              >
                <td ng-click="chooseSong(songfull.song.id)">
                  <img
                    ng-src="/asset/img/song/{{songfull.song.image}}"
                    alt=""
                  />
                </td>
                <td ng-click="chooseSong(songfull.song.id)">
                  <div class="table-title">
                    <div class="line-clamp">{{songfull.song.name}}</div>
                    <span class="table-song-type">MASTER</span>
                  </div>
                </td>
                <td ng-click="chooseSong(songfull.song.id)">
                  <span ng-repeat="singer in songfull.singers">
                    <span
                      >{{$index < songfull.singers.length - 1 ? singer.name + '
                      - ' : singer.name}}</span
                    >
                  </span>
                </td>
                <td ng-click="chooseSong(songfull.song.id)">
                    <span ng-repeat="genre in songfull.genres">
                        <span>
                            {{$index < songfull.genres.length - 1 ? genre.name + ' - ' : genre.name}}
                        </span>
                    </span>
                    
                </td>
                <td ng-click="chooseSong(songfull.song.id)">
                  <audio hidden id="{{songfull.song.id}}" controls>
                    <source src="{{songfull.song.path}}" type="audio/mpeg" />
                  </audio>

                  <span> {{songfull.song.duration}} </span>
                </td>
                <td>
                  <i
                    class="fa-solid fa-plus"
                    ng-click="playlistAddOn(songfull.song)"
                    data-toggle="modal"
                    data-target="#exampleModalLong"
                  ></i
                  >&nbsp;&nbsp;
                  <i
                    class="fa-regular fa-heart favorite"
                    ng-click="favorite(songfull.song.id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="master_play">
        <img
          src="/asset/img/song/{{song_image_bar}}"
          alt="Alan"
          id="poster_master_play"
        />
        <h5 id="title">
          <p class="line-clamp" id="song-title">
            {{title}}
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-ellipsis"></i>
          </p>

          <div class="subtitle line-clamp" id="artist-name">Doechii</div>
          <div class="album line-clamp" id="category-name">
            <!-- PLAYING FROM : [[${album.title}]] -->
          </div>
        </h5>
        <div class="icon">
          <i
            class="fa-solid fa-backward"
            id="back"
            ng-click="playPreviousSong()"
          ></i>
          <i
            ng-click="playMusic()"
            class="fa-solid"
            ng-class="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"
            id="masterPlay"
          ></i>
          <i
            class="fa-solid fa-forward"
            id="next-detail"
            ng-click="playNextSong()"
          ></i>
        </div>

        <span id="currentStart">{{ currentTime }}</span>
        <div class="bar">
          <input
            type="range"
            id="seek"
            ng-model="seekValue"
            ng-click="updateSeek()"
            min="0"
            value="0"
            max="100"
          />
          <div class="bar2" id="bar2"></div>
          <div class="dot"></div>
        </div>
        <span id="currentEnd">{{duration}}</span>

        <div class="vol">
          <i class="fa-solid fa-volume-low" id="vol_icon"></i>
          <input
            type="range"
            id="vol"
            ng-model="volume"
            ng-change="updateVolume()"
            min="0"
            max="1"
            step="0.1"
          />
          <div class="vol_bar" style="width: {{ volBarWidth }}"></div>
          <div class="dot" id="vol_dot" style="left: {{ volDotLeft }}"></div>
        </div>
        <div class="mode">
          <div class="mode-type">HIFI</div>
          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-square-arrow-up-right"></i>
        </div>
      </div>
    </header>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>

  <!-- <script type="module" src="js/detail.js"></script>
<script src="js/script1.js"></script> -->

  <script src="/js/playP.js"></script>
</html>
