<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web Player</title>

  <!-- Favicon -->
  <link rel="icon" href="/img/core-img/favicon.ico" />
  <link rel="stylesheet" href="/css/styleplayer.css" />
  <!-- icon from font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- icon from font-awesome -->
  <!-- FONT -->
  <!-- POPPINS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Marcellus&family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@400;700&display=swap"
    rel="stylesheet" />
  <!-- PROMP -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Marcellus&family=Montserrat:wght@400;500;700&family=Prompt:wght@400;700&display=swap"
    rel="stylesheet" />
  <!-- FONT -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <script src="https://unpkg.com/howler@2.2.3/dist/howler.min.js"></script>
</head>

<body ng-app="webplayerApp" ng-controller="webplayerCtrl">
  <header>
    <nav th:replace="~{/layout/menuside.html :: menu-side}"></nav>

    <div class="song-side">
      <div class="song-side-header">
        <!-- <div class="song-side-header-navigation">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div> -->
        <div class="song-side-header-noti">
          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search" />
          </div>
          <div class="notification">
            <i class="fa-regular fa-bell"></i>
          </div>
        </div>
      </div>

      <div class="popular_song">
        <div class="h3">
          <h3>Explore your vibes</h3>
          <div class="btn_s">
            <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
            <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
          </div>
        </div>
        <div class="pop_song" id="list-categories">
          <li class="songItem" ng-repeat="al in fullalbum">
            <div class="img_play">
              <a href="/album/detai/{{al.id}}">
                <img ng-src="/asset/img/album/{{al.image}}" alt="alan" />
              </a>

              <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
              <p class="line-clamp">{{al.title}}</p>

              <div class="subtitle line-clamp line-2">
                Release year : {{al.releaseYear}}
              </div>
            </h5>
          </li>
        </div>
      </div>

      <div class="popular_song">
        <div class="h3">
          <!-- <h3>Mixed for you</h3> -->
          <h3>Your playlist</h3>
          <div class="btn_s">
            <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
            <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
          </div>
        </div>
        <div class="pop_song">
          <li class="songItem" ng-repeat="playlist in playlistData">
            <div class="img_play">
              <img th:src="@{/asset/img/playlistbanenr.jpg}" alt="alan" />
              <i class="bi fa-solid fa-circle-play" i="1"></i>
            </div>
            <h5>
              <p class="line-clamp">{{playlist.name}}</p>
              <div class="subtitle line-clamp line-2">
                GOOD SONG FOR BAD DAYS
              </div>
            </h5>
          </li>
        </div>
      </div>

      <div class="suggested-new-tracks">
        <div class="h3">
          <h3>Suggested new tracks</h3>
          <!-- <div class="btn_s">
                        <button>VIEW ALL</button>
                    </div> -->
          <div class="btn_s">
            <i class="fa-solid fa-circle-chevron-left" ng-disabled="currentPage === 0" ng-click="prevPage()"></i>
            <span>{{currentPage + 1}} / {{numberOfPages()}}</span>
            <i class="fa-solid fa-circle-chevron-right" ng-disabled="currentPage >= numberOfPages() - 1"
              ng-click="nextPage()"></i>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>NAME SONG</th>
              <th>ARTISTS</th>
              <th>GENRES</th>
              <th>TIME</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="list-songs-detail">
            <tr ng-repeat="songfull in fullsongs.slice(startFrom(), endAt())" id="table_fullsongs_{{songfull.song.id}}"
              class="song-row">
              <td ng-click="chooseSong(songfull.song.id)">
                <img ng-src="/asset/img/song/{{songfull.song.image}}" alt="" />
              </td>
              <td ng-click="chooseSong(songfull.song.id)">
                <div class="table-title">
                  <div class="line-clamp">{{songfull.song.name}}</div>
                  <span class="table-song-type">MASTER</span>
                </div>
              </td>
              <td ng-click="chooseSong(songfull.song.id)">
                <span ng-repeat="singer in songfull.singers">
                  <span>{{$index < songfull.singers.length - 1 ? singer.name + '
                      - ' : singer.name}}</span>
                  </span>
              </td>
              <td ng-click="chooseSong(songfull.song.id)">
                <span ng-repeat="genre in songfull.genres">
                  <span>{{$index < songfull.genres.length - 1 ? genre.name + ' -
                      ' : genre.name}}</span>
                  </span>
              </td>
              <td ng-click="chooseSong(songfull.song.id)">
                <audio hidden id="{{songfull.song.id}}" controls>
                  <source src="{{songfull.song.path}}" type="audio/mpeg" />
                </audio>

                <span> {{songfull.song.duration}} </span>
              </td>
              <td>
                <i class="fa-solid fa-plus" ng-click="playlistAddOn(songfull.song)" data-toggle="modal"
                  data-target="#exampleModalLong"></i>&nbsp;&nbsp;
                <i class="favorite" ng-style="songfull.song.isFav ? {'color': 'rgb(212, 15, 15)'} : {}"
                  ng-class="{'fa-solid fa-heart': songfull.song.isFav, 'fa-regular fa-heart': !songfull.song.isFav}"
                  ng-click="favorite(songfull.song)">
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="popular_song">
        <div class="h3">
          <h3>Suggested new album</h3>
          <div class="btn_s">
            <i id="left_scroll" class="fa-solid fa-circle-chevron-left"></i>
            <i id="right_scroll" class="fa-solid fa-circle-chevron-right"></i>
          </div>
        </div>
        <div class="pop_song">
          <li class="songItem" ng-repeat="al in fullalbum_newsort">
            <div class="img_play">
              <a href="/album/detai/{{al.id}}">
                <img ng-src="/asset/img/album/{{al.image}}" alt="alan" />
              </a>
              <i class="bi fa-solid fa-circle-play"></i>
            </div>
            <h5>
              <p class="line-clamp">{{al.title}}</p>

              <div class="subtitle line-clamp line-2">
                Release year : {{al.releaseYear}}
              </div>
            </h5>
          </li>
        </div>
      </div>
      <!-- <div id="list-songs"></div> -->
    </div>

    <div class="master_play">
      <img src="/asset/img/song/{{song_play.image}}" alt="Alan" id="poster_master_play" />
      <h5 id="title">
        <p class="line-clamp" id="song-title">
          {{song_play.name}}
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-ellipsis"></i>
        </p>

        <div class="subtitle line-clamp" id="artist-name">Doechii</div>
        <div class="album line-clamp" id="category-name">PLAYING FROM :</div>
      </h5>
      <div class="icon">
        <i class="fa-solid fa-backward" id="back" ng-click="playPreviousSong()"></i>
        <i ng-click="playMusic()" class="fa-solid" ng-class="{'fa-play': !isPlaying, 'fa-pause': isPlaying}"
          id="masterPlay"></i>
        <i class="fa-solid fa-forward" id="next-detail" ng-click="playNextSong()"></i>
      </div>

      <span id="currentStart">{{ currentTime }}</span>
      <div class="bar">
        <input type="range" id="seek" ng-model="seekValue" ng-click="updateSeek()" min="0" value="0" max="100" />
        <div class="bar2" id="bar2"></div>
        <div class="dot"></div>
      </div>
      <span id="currentEnd">{{duration}}</span>

      <div class="vol">
        <i class="fa-solid fa-volume-low" id="vol_icon"></i>
        <input type="range" id="vol" ng-model="volume" ng-change="updateVolume()" min="0" max="1" step="0.1" />
        <div class="vol_bar" ng-style="{ 'width': volBarWidth }"></div>
        <div class="dot" id="vol_dot" ng-style="{ 'left': volDotLeft }"></div>
      </div>
      <div class="mode">
        <div class="mode-type">HIFI</div>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-square-arrow-up-right"></i>
      </div>
    </div>
  </header>
</body>
<script src="/js/webplayer.js"></script>

</html>